body{
	width: 900px;
	margin:0 auto;
	background: #1abc9c;
}

h1{
	color: #ecf0f1;
	width: 100%;
	text-align: center;
	margin-top: 20%;
	font-size: 3em;
	animation: title 5s ease-in-out infinite;
	-webkit-animation: title 5s ease-in-out infinite;
	-moz-animation: title 5s ease-in-out infinite;
}

@-keyframes title {
    0% {font-size: 3em;}
    50% {font-size: 3.5em;}
    100% {font-size: 3em;}
}

@-webkit-keyframes title {
    0% {font-size: 3em;}
    50% {font-size: 3.5em;}
    100% {font-size: 3em;}
}

@-moz-keyframes title {
    0% {font-size: 3em;}
    50% {font-size: 3.5em;}
    100% {font-size: 3em;}
 };